.main {
  margin-top: 5em;
}

.raw-data {
  display: none;
}

.table-status th {
  padding-left: 1em !important;
}

.table-log-entries {
  font-size: 90%;
  margin-bottom: 0;
}
.table-log-entries td {
  border-top: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

ul.item-list {
  margin-left: -1em;
  margin-bottom: 0;
}
