<div class="wrapper" style="float:left" ng-controller="NodeListCtrl" > 
	<h3>Nodes</h3>

	<table>
		<tr ng-repeat="node in nodes.items | orderBy:natural('name')">
			<td><a ng-href="#/nodes/{{node.name}}">{{ node.name }}</a></td>
    </tr>
  </table>
</div>

<div class="wrapper" style="float:left" ng-controller="PolicyListCtrl" > 
	<h3>Policies</h3>

	<table>
		<tr ng-repeat="policy in policies.items | orderBy:natural('name')">
			<td><a ng-href="#/policies/{{policy.name}}">{{ policy.name }}</a></td>
    </tr>
  </table>
</div>

<div class="wrapper" style="float:left" ng-controller="BrokerListCtrl" > 
	<h3>Brokers</h3>

	<table>
		<tr ng-repeat="broker in brokers.items | orderBy:natural('name')">
			<td><a ng-href="#/brokers/{{broker.name}}">{{ broker.name }}</a></td>
    </tr>
  </table>
</div>

<div class="wrapper" style="float:left" ng-controller="RepoListCtrl" > 
	<h3>Repos</h3>

	<table>
		<tr ng-repeat="repo in repos.items | orderBy:natural('name')">
			<td><a ng-href="#/repos/{{repo.name}}">{{ repo.name }}</a></td>
    </tr>
  </table>
</div>

<div class="wrapper" style="float:left" ng-controller="TaskListCtrl" > 
	<h3>Tasks</h3>

	<table>
		<tr ng-repeat="task in tasks.items | orderBy:natural('name')">
			<td><a ng-href="#/tasks/{{task.name}}">{{ task.name }}</a></td>
    </tr>
  </table>
</div>

<div class="wrapper" style="float:left" ng-controller="TagListCtrl" > 
	<h3>Tags</h3>

	<table>
		<tr ng-repeat="tag in tags.items | orderBy:natural('name')">
			<td><a ng-href="#/tags/{{tag.name}}">{{ tag.name }}</a></td>
    </tr>
  </table>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
	<pre ng-show="Util.showJSON()">
{{ nodes    | json }}
{{ policies | json }}
{{ brokers  | json }}
{{ repos    | json }}
{{ tasks    | json }}
{{ tags     | json }}
	</pre>
</div>
