<h2>{{ task.name }} <small>task</small></h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
      <table class="table table-status">
        <tr>
          <th>Description</th>
          <td>{{ task.description }}</td>
        </tr>
        <tr>
          <th>OS Version</th>
          <td>{{ task.os.version }}</td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Boot Sequence</h3></div>
      <table class="table table-status">
			  <tr ng-repeat="(key, value) in task.boot_seq">
          <td>{{key}}</td>
          <td><code>{{value}}</code></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
  <pre ng-show="Util.showJSON()">
{{ task | json }}
  </pre>
</div>
