<div class="row">
  <div class="col-md-12" ng-controller="NodeListCtrl">
    <h2>Nodes <small>{{ nodes.items.length }}</small></h2>
    <ul class="item-list" ng-repeat="node in data.items | orderBy:natural('name')">
      <li><a ng-href="#/nodes/{{node.name}}">{{ node.name }}</a></li>
    </ul>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
	<pre ng-show="Util.showJSON()">
{{ data | json }}
	</pre>
</div>
