<div style="width: 100%;">
  <div style="float: left;">
    <h3>Repo Info</h3>
		<table id="details">
			<tr>
				<td>Name</td>
				<td>{{ repo.name }}</td>
			</tr>
			<tr>
				<td>ISO URL</td>
				<td>{{ repo.iso_url }}</td>
			</tr>
			<tr><td colspan="2"><hr/></td></tr>
		</table>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
	<pre ng-show="Util.showJSON()">
{{ repo | json }}
	</pre>
</div>
