<div style="width: 100%;">
  <div style="float: left;">
    <h3>Broker Info</h3>
		<table id="details">
			<tr>
				<td>Name</td>
				<td>{{ broker.name }}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{ broker["broker-type"] }}</td>
			</tr>
			<tr>
				<td>Configuration</td>
				<td>{{ broker.configuration }}</td>
			</tr>
      <tr><th colspan="2">Policies</th></tr>
			<tr ng-repeat="policy in policies.items | orderBy:natural('name')">
				<td colspan="2"><a ng-href="#/policies/{{policy.name}}">{{ policy.name }}</a></td>
			</tr>
			<tr><td colspan="2"><hr/></td></tr>
		</table>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
	<pre ng-show="Util.showJSON()">
{{ broker | json }}
	</pre>
</div>
