<h2>{{ policy.name }} <small>policy</small></h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
      <table class="table table-status">
        <tr>
          <th>Enabled</th>
          <td>{{policy.enabled}}</td>
        </tr>
        <tr>
          <th>Max Count</th>
          <td>{{policy.max_count}}</td>
        </tr>
        <tr>
          <th>Broker</th>
          <td><a ng-href="#/brokers/{{policy.broker.name}}">{{policy.broker.name}}</a></td>
        </tr>
        <tr>
          <th>Repo</th>
          <td><a ng-href="#/repos/{{policy.repo.name}}">{{policy.repo.name}}</a></td>
        </tr>
        <tr>
          <th>Task</th>
          <td><a ng-href="#/tasks/{{policy.task.name}}">{{policy.task.name}}</a></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Configuration</h3></div>
      <table class="table table-status">
	      <tr ng-repeat="(key,value) in policy.configuration | orderBy:natural('name')">
          <th>{{key}}</th>
          <td><code>{{value}}</code></td>
        </tr>
      </table>
    </div>
  </div>
	
  <div class="col-md-6">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Tags</h3></div>
          <div class="list-group" ng-repeat="tag in policy.tags | orderBy:natural('name')">
            <div class="list-group-item"><a ng-href="#/tags/{{tag.name}}">{{ tag.name }}</a></div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Nodes</h3></div>
          <div class="list-group" ng-repeat="node in nodes.items | orderBy:natural('name')">
            <div class="list-group-item"><a ng-href="#/nodes/{{node.name}}">{{ node.name }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
  <pre ng-show="Util.showJSON()">
{{ policy | json }}
  </pre>
</div>
