<h2>{{ tag.name }} <small>tag</small></h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
      <table class="table table-status">
        <tr>
          <th>Rule</th>
          <td><code>{{ tag.rule }}</code></td>
        </tr>
      </table>
    </div>
  </div>
	
  <div class="col-md-6">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Policies</h3></div>
          <div class="list-group" ng-repeat="policy in policies.items | orderBy:natural('name')">
            <div class="list-group-item"><a ng-href="#/policies/{{policy.name}}">{{ policy.name }}</a></div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Nodes</h3></div>
          <div class="list-group" ng-repeat="node in nodes.items | orderBy:natural('name')">
            <div class="list-group-item"><a ng-href="#/nodes/{{node.name}}">{{ node.name }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
  <pre ng-show="Util.showJSON()">
{{ tag | json }}
  </pre>
</div>
