<div class="wrapper" ng-controller="TagListCtrl" > 
	<h3>Tag Name</h3>

	<table>
		<tr ng-repeat="tag in data.items | orderBy:natural('name')">
			<td><a ng-href="#/tags/{{tag.name}}">{{ tag.name }}</a></td>
    </tr>
  </table>
</div>

<hr/>
<div class="raw-data">
  <button ng-click="Util.showJSON(true)" ng-hide="Util.showJSON()">Show Raw JSON</button>
  <button ng-click="Util.showJSON(false)" ng-show="Util.showJSON()">Hide Raw JSON</button>
	<pre ng-show="Util.showJSON()">
{{ data | json }}
	</pre>
</div>
